 <div class="links">
     <div class="nome">
        <span *ngIf="aula.link.length > 0, else semVideo">
            <a class="link ff-inter" href="{{aula.link}}">{{aula.aula}}</a>
        </span>
         
     </div>
     <div class="imagens">
        <button class="botao-material">
            <div *ngIf="aula.material.length >0 ">
                <a href="{{aula.material}}"><img src="/assets/imagens/pdf.png" alt="icone de pdf"></a>
            </div>
         </button>

     </div>
</div>

<ng-template #semVideo>
    <div class="ff-inter ">
        <p>{{aula.aula}}</p>
  </div>
</ng-template>
