<section class="container criar-aula ff-inter">
    <header class="header">
        <h2>Adicione uma <br>nova aula: </h2>
    </header>
    <form action="">
        <label for="materia">Materia:</label>
        <select 
            type="text"
            class="lista"
            id="materia"
            name="materia"
            [(ngModel)]="class.materia"
        >
            <option value=""></option>
            <option value="1 - PLATAFORMA - COMO USAR">PLATAFORMA - COMO USAR</option>
            <option value="2 - EDITAL - MAPA da PROVA e PLANO de ESTUDOS">EDITAL - MAPA da PROVA e PLANO de ESTUDOS</option>
            <option value="3 - TRILHAS - BANCO do NORDESTE - ANALISTA BANCÁRIO">TRILHAS - BANCO do NORDESTE - ANALISTA BANCÁRIO</option>
            <option value="4 - PORTUGUÊS">PORTUGUÊS</option>
            <option value="5 - QUESTÕES PORTUGUÊS - CESGRANRIO">QUESTÕES PORTUGUÊS - CESGRANRIO</option>
            <option value="6 - MATEMÁTICA BÁSICA">MATEMÁTICA BÁSICA</option>
            <option value="7 - MATEMÁTICA AVANÇADA">MATEMÁTICA AVANÇADA</option>
            <option value="8 - QUESTÕES MATEMÁTICA - CESGRANRIO">QUESTÕES MATEMÁTICA - CESGRANRIO</option>
            <option value="9 - MATEMÁTICA FINANCEIRA">MATEMÁTICA FINANCEIRA</option>
            <option value="10 - QUESTÕES MATEMÁTICA FINANCEIRA - CESGRANRIO">QUESTÕES MATEMÁTICA FINANCEIRA - CESGRANRIO</option>
            <option value="11 - CONHECIMENTOS BANCÁRIOS">CONHECIMENTOS BANCÁRIOS</option>
            <option value="12 - QUESTÕES CONHECIMENTOS BANCÁRIOS - CESGRANRIO">QUESTÕES CONHECIMENTOS BANCÁRIOS - CESGRANRIO</option>
            <option value="13 - ATUALIDADES DO MERCADO FINANCEIRO">ATUALIDADES DO MERCADO FINANCEIRO</option>
            <option value="14 - QUESTÕES ATUALIDADES DO MERCADO FINANCEIRO">QUESTÕES ATUALIDADES DO MERCADO FINANCEIRO</option>
            <option value="15 - REVISÃO BANCO do NORDESTE - PORTUGUÊS - FERNANDA">REVISÃO BANCO do NORDESTE - PORTUGUÊS - FERNANDA</option>
            <option value="16 - REVISÃO BANCO do NORDESTE - PORTUGUÊS - THAIS">REVISÃO BANCO do NORDESTE - PORTUGUÊS - THAIS</option>
            <option value="17 - REVISÃO BANCO do NORDESTE - MATEMÁTICA">REVISÃO BANCO do NORDESTE - MATEMÁTICA</option>
            <option value="18 - REVISÃO BANCO do NORDESTE - MATEMÁTICA FINANCEIRA">REVISÃO BANCO do NORDESTE - MATEMÁTICA FINANCEIRA</option>
            <option value="19 - REVISÃO BANCO do NORDESTE - CONHECIMENTOS BANCÁRIOS">REVISÃO BANCO do NORDESTE - CONHECIMENTOS BANCÁRIOS</option>

        </select>
        <label for="aula">Nome da aula:</label>
        <input 
            type="text"
            class="input"
            id="aula"
            name="aula"
            placeholder="Digite o nome da aula"
            [(ngModel)]="class.aula"
        >
        <label for="link">Link da aula:</label>
        <input 
            type="text"
            class="input"
            id="link"
            name="link"
            placeholder="Digite o link da aula"
            [(ngModel)]="class.link"
        >
        <label for="material">Material da aula:</label>
        <input 
            type="text"
            class="input"
            id="material"
            name="material"
            placeholder="Digite o material da aula"
            [(ngModel)]="class.material"
        >

    <div class="acoes">
        <button (click)="createClass()" class="botao">Salvar</button>
        <button (click)="cancelar()" class="botaocancelar">Cancelar</button>
    </div>
    </form>
</section>