<section class="container">
    <header class="header d-flex">
        <h2 class="ff-inter">Faz Questão<br>BNB pós-edital</h2>
    </header>
    <div class="mural">
        <div *ngFor="let materia of listaMaterias">
            <div>
                <app-subjects [materia]="materia" ></app-subjects>
                
            </div>
        </div>
    </div>
</section>